{% extends "base/base.html" %}

{% block mainbody %}
    <section class="container" id="app">
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">
                    API调试工具
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <select title="" name="" class="form-control" id="" v-model="type">
                                <option v-for="method in methods">${ method }</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" title="" placeholder="url" v-model="url" class="form-control"/>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary" v-on:click="send">SEND</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Data
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Data</label>
                            <textarea title="" rows="15" v-model="ajax_data" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Response</label>
                            <textarea class="form-control" title="" rows="15" v-model="response"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
<script>
    let app = new Vue({
        el:"#app",
        data:{
            url:"http://localhost:8082/api/area!list.action",
            methods:['GET', 'POST'],
            type:"GET",
            ajax_data:`
{
    "province":"北京市",
    "city":"西城区"
}
            `,
            response:""
        },
        methods:{
            send:function () {
                let that = this;
                let d;
                if (that.ajax_data){
                    d = JSON.parse(that.ajax_data);
                }else{
                    d = {}
                }

                $.ajax({
                    url:that.url,
                    type:that.type,
                    data:d,

                    success:function (res) {
                        that.response = res;
                    },
                    error:function (res) {
                        that.response = res;
                    }
                })


            }
        }

    })

</script>
{% endblock %}