{% extends "base/base.html" %}

{% block style %}
    <style>
    .audio_play{
        background: none;
        border: none;
        outline: none;
    }
    a:link{
        text-decoration-line: none;
    }
    a:visited{
        text-decoration-line: none;
    }
    a:hover{
        text-decoration-line: none;
    }
    a:active{
        text-decoration-line: none;
    }
    .word:hover .inter{
        display: inline-block;
    }
    .inter{
        display: none;
        border: none;
        background: none;
        float: right;
    }

    </style>
{% endblock %}
{% block body_class %}

{% endblock %}
{% block mainbody %}
    <section class="container" id="vueApp">
        <div class="row">
            <div class="col-md-12">
                <div class="progress">
                    <div class="progress-bar"
                         :class="{'progress-bar-success':health <= 90,'progress-bar-info':health <= 60,'progress-bar-warning':health <= 30,'progress-bar-danger':health <= 10}" role="progressbar" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100" :style="{width: (health>=100?100:health)+'%'}">
                        <span class="">${ health }</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-10">
                <label for="">coin:<span>${ coin }</span></label>
                <label for="">hp: <span>${ health }</span></label>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_word">add</button>
                <div class="modal fade" id="add_word" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    添加新单词
                                </h4>
                            </div>
                            <div class="modal-body">
                                <input type="text" placeholder="new word" class="form-control" v-model="word" @keyup.13="add_words">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="add_words">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="modal fade" id="interpretation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        ${ interpretation.query }
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <h5><span v-for="t in interpretation.translation">${ t };</span></h5>
                                    <h5 v-show="interpretation.basic">
                                        美:[ ${ interpretation.basic?interpretation.basic['us-phonetic']:"" } ] <button type="button" class="audio_play" @click="audio_play"><i class="icon-volume-up"></i></button>
                                        <audio id="audio" controls="" style="display:none" name="media" :src="'http://dict.youdao.com/dictvoice?audio='+interpretation.query"></audio>
                                    </h5>
                                    <ul v-show="interpretation.basic">
                                        <li v-for=" ex in interpretation.basic.explains">${ex}</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{#                                    <button type="button" class="btn btn-primary">提交更改</button>#}
                                </div>
                            </div>
                        </div>
                    </div>

            <div style="width: 100%;height: 200px;text-align: center;padding: 10px">
                <h1 class="word">
{#                    :href="'https://translate.google.cn/#en/zh-CN/'+arena.word" #}
                    <a  type="button"  target="_blank" data-toggle="modal" data-target="#interpretation">
                        ${ arena.word }
                    </a>
                </h1>
                <hr>
                <h4>level: <span>${ "♔".repeat(arena.level) }</span></h4>
                <h4>hp: <span style="color: red">${ "♥".repeat(arena.hp) }</span></h4>
                <hr>
                <div>
                    <button type="button" @click="attack" class="btn btn-danger">attack</button>
                    <button type="button" @click="defend" class="btn btn-warning">defend</button>
                </div>
            </div>
        </div>
    </div>
        <div>

        </div>
    </section>

{% endblock %}

{% block script %}

<script>


let coin = 100,health=100;
function init() {
    let tc = localStorage.getItem("coin");
    if (tc){
        coin = parseInt(tc);
    }else{
        localStorage.setItem("coin",100);
    }
    let th = localStorage.getItem("health");
    if(th){
        health = parseInt(th);
    }else{
        localStorage.setItem("health",100);
    }
}
init();

let app = new Vue({
    "el":"#vueApp",
    mounted:function() {
        this.random();
    },
    data:{
        coin:coin,
        word:"",
        word_cost:5,
        health:health,
        arena:"",
        interpretation:{
            query:"",
            basic:{
                'us-phonetic':"",
                explains:[]
            },
            translation:[]
        },
    },
    methods:{
        add_words:function () {
            let that = this;
            if (that.coin < that.word_cost){
                return
            }
            if(!that.word){
                return
            }

            that.$http.post("{% url "todo:api_words" %}", {word:that.word})
                .then(res=>{
                    that.arena=res.body;
                    that.getInterpretation();
                    });

            that.coin -= that.word_cost;
            that.word = "";
            localStorage.setItem("coin",that.coin);
            $('#add_word').modal('hide')
        },
        attack:function () {
            let that = this;
            that.arena.hp -= 1;
            that.$http.post("words/{}/".format(that.arena['id']),that.arena)
                .then(res=>{
                    that.health += 1;
                    that.coin += 1;
                    that.random();
                });
            localStorage.setItem("health",this.health);
        },
        defend:function () {
            let that = this;
            that.arena.hp += 1;
            that.$http.post("words/{}/".format(that.arena['id']),that.arena)
                .then(res=>{
                    that.random();
                    that.health -= 1;
                });
            localStorage.setItem("health",this.health);
        },
        random:function () {
            let that = this;
            that.$http.get("{% url "todo:words_random" %}")
                .then(res=>{
                    that.arena=res.body[0];
                    that.getInterpretation()
                })
        },
        getInterpretation:function(){
            let that = this;
            that.$http.post("{% url "api:translate" %}",{word:that.arena.word})
                .then(
                    res=>{
                        that.interpretation = res.body
                    }
                )
        },
        clearInterpretation:function () {
            this.interpretation = ""
        },
        audio_play:function () {
            let node = $("#audio")[0];
            node.play()
        }
    },
    computed:{

    },
})
</script>
{% endblock %}