{% extends "base/base.html" %}

{% block mainbody %}
    {% csrf_token %}
    <section class="container" style="background: white" id="vueApp">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 time-line" style="min-height: 80px">
                <div class="col-md-3">
                    <button class="btn btn-info" data-toggle="modal" data-target="#newTodo">
	                    New Task
                    </button>
                <div class="modal fade" id="newTodo" tabindex="-1" role="dialog" aria-labelledby="newTodoLabel" aria-hidden="true">
	                <div class="modal-dialog">
		                <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="newTodoLabel">
                                    Create New Task
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="newTaskContent" class="col-md-2 control-label">Content :</label>
                                        <div class="col-md-10">
                                            <input id="newTaskContent" type="text" class="form-control" v-model="todo.content" placeholder="按下Enter键完成输入">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="taskLevels" class="col-md-2 control-label">Level :</label>
                                        <div class="col-md-2">
                                            <select id="taskLevels" class="form-control" v-model="todo.level">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-reply"></i>Cancel</button>
                                <button type="button" id="todoSubmit" class="btn btn-default" data-dismiss="modal" v-on:click="new_todo" >
                                    <i class="icon-ok">Ok</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                </div>

                <div class="col-md-3">
                    <div class="form-inline">
                        <label class="control-label">状态:</label>
                        <select v-model="search.state" title="状态" v-on:change="filter" class="form-control">
                            <option value=""></option>
                            <option value="true">已完成</option>
                            <option value="false">未完成</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-inline">
                        <label for="" class="control-label">Level:</label>
                        <select class="form-control" v-model="search.level" title="" v-on:change="filter">
                            <option></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1 time-line" v-for="(todo,index) in todos">
                <div class="todo-icon">
                    <input title="" type="checkbox" class="hidden"  v-model="todo.state" v-on:change="change_state(index)"/>
                    <a href="javascript:" style="text-decoration:none;">
                        <i class="icon-2x" :class="{'text-danger':todo.level==1,'text-warning':todo.level==2,'text-info':todo.level==3,'icon-ok-circle' : todo.state==true, 'icon-circle-blank' : todo.state==false}"> </i>
                    </a>
                </div>
                <div class="panel" :class="{'panel-danger':todo.level==1,'panel-warning':todo.level==2,'panel-info':todo.level==3}">
                    <div class="panel-heading">
                        <div class="form-inline">
                            <span>${ todo.inTime }</span>
                            <a href="javascript:" class="" title="Remarks" data-container="body" data-toggle="popover" data-placement="bottom" :data-content="todo.remarks">
                                Remarks
                            </a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <input type="text"  class="form-control hidden" v-model="todo.content" title="">
                            <span class="todo-header" style="font-size: 1.5em">${ todo.content }</span>
                            <a href="javascript:" class="todo-check hidden"><i class="icon-ok"></i></a>
                            <a href="javascript:" class=""><i class="icon-pencil todo-edit"></i></a>
                        </div>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="(child, item_index) in todo.child">${ item_index + 1 }: ${ child.content }</li>
                                <li class="list-group-item"><input title="add_child" :id="'item'+index" placeholder="添加子任务(Enter完成)" v-on:keyup="add_child(index, todo.id)"  type="text" style="max-width: 40%" class="form-control child_input"></li>
                                <li class="list-group-item">
                                    <a href="javascript:" v-on:click="add_child(index,todo.content)"><i class="icon-plus"></i>add detail</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1 time-line" style="min-height: 70px">
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
<script>
    let href = window.location.href;

    function getParameter(name) {
        let query = href.split("?");
        if (query.length > 1){
            query = query[1]
        }else{
            return ""
        }
        let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        let r = query.match(reg);
        if (r && r[2]){
            return r[2]
        }
        return ""
    }

    let  pagerData = [
        {% for todo in todo_list %}
            {
                id:"{{ todo.id }}",
                inTime:"{{ todo.in_time|date:"Y/m/d H:i" }}",
                content:"{{ todo.content}}",
                level:"{{ todo.level }}",
                state:"{{ todo.state|lower }}" === "true",
                remarks:"{{ todo.remarks }}",
                child:[
                {% for foo in todo.child_set.all %}
                    {
                        content:"{{ foo.content }}"
                    },
                {% endfor %}
                ]
            },
        {% endfor %}
    ];
    let token = $("[name='csrfmiddlewaretoken']").val();
    $(function () {
        $("a").find("i.todo-edit").on('click',function () {

            let par = $(this).parent().parent();
            par.find("input").removeClass("hidden");
            par.find(".todo-check").removeClass("hidden");
            par.find(".todo-header").addClass("hidden");
        });
        $("a").find("i.icon-ok").on('click',function () {
            let par = $(this).parent().parent();
            par.find("input").addClass("hidden");
            par.find(".todo-check").addClass("hidden");
            par.find(".todo-header").removeClass("hidden");
        });
        $("#newTaskContent").keyup(function () {
            if (event.which === 13 && app.todo.content!==""){
                $("#todoSubmit").click();
                app.new_todo()
            }
        });
        $("#vueApp").on("click",".todo-icon a",function () {
            $(this).parent().find(":checkbox").click()
        });
        $("[data-toggle='popover']").popover();

        $(".child_input").on('keyup',function () {
            if (event.which === 13){
{#                console.log($(this).val())#}
                app.add_child($(this).attr("id"),$(this).val())
            }

        })
    });

    let app = new Vue({
        el:"#vueApp",
        data:{
            todos:pagerData,
            todo:{
                inTime:"",
                content:"",
                level:3,
                state:false
            },
            search:{
                inTime:"",
                level:getParameter('level'),
                state:getParameter('state')
            }
        },
        methods:{
            new_todo:function () {
                let that = this;
                $.post({
                    url:"{% url "todo:ajax_add" %}" ,
                    data:{
                        todo:{
                            content:that.todo.content,
                            level:that.todo.level
                        },
                        csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                    },
                    success:function (rep) {
                        let rd = JSON.parse(rep);
                        that.todo.inTime = rd.inTime;
                        that.todos.unshift(that.todo);
                        that.todo = {
                            inTime:"",
                            content:"",
                            level:3,
                            state:false
                        }
                    },
                    error:function (rep) {
                        console.log("Something error")
                    }
                });
            },
            save_todo:function (index) {


            },
            new_child:function () {

            },
            add_child:function (index, parent_id) {
                let that = this;
                let node = $(`#item${index}`);
                if(event.which === 13 && node.val()){
                    $.post({
                        url:"{% url "todo:ajax_add_child" %}",
                        data : {
                            child:{
                                parent_id : parent_id,
                                content : node.val()
                            },
                            csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                        },
                        success:function (res) {
                            that.todos[index].child.push({content:node.val()});
                            node.val("")
                        },
                        error:function (res) {
                            console.log(res)
                        }

                    })


                }
            },
            change_state:function (index) {
                let that = this;
                $.post({
                    url:"{% url "todo:ajax_change_state" %}",
                    data:{
                        id:that.todos[index].id,
                        state:that.todos[index].state,
                        csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                    },
                    success:function (res) {
                        console.log(res)
                    },
                    error:function (res) {

                    }
                })
            },
            filter:function () {
                let query = "";
                if (this.search.state){
                    query += 'state='+this.search.state
                }
                if (query){
                    query += "&"
                }
                if (this.search.level){
                    query += 'level='+this.search.level
                }

                window.location.href = "./?"+query
            },
        },
        watch:{

        },
        computed:{

        }
    })

</script>
{% endblock %}